*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
span{
    border: 1px solid black;
}
.red{
     position: relative;
     background: black;
}
.blue{
    background: rgb(83, 83, 229);
}
.slant{
    position: absolute;
    height: 70rem;
    width: 60rem;
    background: rgb(127, 127, 127);
    right: -20rem;
    top: -30rem;
    transform: rotate(25deg);
    border-radius: 5rem;
}